.todo-container {
    background-color: rgb(136, 19, 115);
    display: flex;
    flex-direction: column;
    margin: flex;
    width: 300px;
    text-align: center;
    font-size: 24px;
    align-items: center;
    border-radius: 24px;
}

body {
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prog-buttons{
    width: 50px;
    margin: flex;
    display: flex;
    text-align: center;
    font-size:15px;

}
.todo-naming{
    color: goldenrod;
    font-family: "Calibri";
}
.taskText{
    color: whitesmoke;
    margin-right: 30px;
    max-width: 100px;
    text-wrap:wrap;
    word-break: break-all;
}

ul {
    list-style-type: none;
}
